{{ GITLAB_RUNNER_NAME }}:
  container_name: {{ GITLAB_RUNNER_NAME }}
  image: gitlab/gitlab-runner:latest
  restart: always
  volumes:
    - {{ SRV_PATH }}/{{ GITLAB_RUNNER_NAME }}/config:/etc/gitlab-runner
    - /var/run/docker.sock:/var/run/docker.sock
